[flake8]
ignore =
    # E203 whitespace before ':'
    # result of black-formatted code
    E203,
    # E501: line too long (* > 110 characters)
    E501,
    # E731: do not assign a lambda expression, use a def
    E731,
    # W503: line break before binary operator
    W503
per-file-ignores =
    # we need to mock some modules before importing additional files
    test/test_repolib.py: E402
    # trailing whitespace in test data
    test/certdata.py: W291
exclude =
    # cockpit bits downloaded during the cockpit CI run
    integration-tests/submancockpit/,
max-line-length = 110
