*.patch
*.py?
*.sw?
*.coverage
*.cov2emacs.log
.noseids
nosetests.xml
coverage.xml
cover/
htmlcov/
#*.ropemacs
*.ropeproject
.\#*
*.eml
*.egg
*.egginfo
*.egg-info
po/build
po/POTFILES.*
po/.zanata-cache
etc-conf/*.desktop
src/subscription_manager/version.py
src/rct/version.py
bin/rhsmcertd
bin/rhsm-icon
.idea
build/
