*.patch
*.py?
*.sw?
*.coverage
*.cov2emacs.log
.noseids
nosetests.xml
coverage.xml
cover/
#*.ropemacs
*.ropeproject
.\#*
*.eml
*.egginfo
po/build
po/POTFILES.in
po/.zanata-cache
etc-conf/*.desktop
bin/rhsmcertd
bin/rhsm-icon
