*.patch
*.py?
*.sw?
*.coverage
*.cov2emacs.log
cover/
#*.ropemacs
*.ropeproject
.\#*
*.eml
po/build
po/POTFILES.in
etc-conf/*.desktop
src/subscription_manager/version.py
src/rct/version.py
bin/rhsmcertd
bin/rhsm-icon
