# This file only affects what is included in the source tarball
include LICENSE
recursive-include bin *
recursive-include man *
recursive-include po *
recursive-include etc-conf *
recursive-include docs *
