# This seems ok to me
addFilter('invalid-url')

# All yum and dnf plugins seem to hardcode paths
addFilter("hardcoded-library-path .*lib/yum-plugins/.*")
addFilter("hardcoded-library-path .*lib/dnf-plugins/.*")

# Filter out zypper plugins too!
addFilter("hardcoded-library-path .*lib/zypp/plugins/.*")

# Systemd tmpfiles are in /usr/lib
addFilter("hardcoded-library-path .*lib/tmpfiles.d/.*")

# Ignore failing suse specific checks
setBadness("suse-dbus-unauthorized-service", 0)
setBadness("polkit-unauthorized-privilege", 0)
