lxml
nose
nose-capturestderr
coverage
polib
pep8==1.5.7
pyflakes
flake8
freezegun
simplejson
mock
Sphinx
git+https://github.com/alikins/pyqver.git#egg=pyqver
git+https://github.com/awood/nose-xvfb.git#egg=nose-xvfb

# Until https://github.com/adamchainz/nose-randomly/pull/12 is merged
git+https://github.com/awood/nose-randomly.git#egg=nose-randomly
