-r requirements.txt

# Install in editable mode.  Instead of copying the py files, pip will create a .egg-link
# file linking to the checkout directory.  Any changes made to the files will then be
# immediately available.
-e ./build_ext

nose
nose-capturestderr
nose-randomly
coverage
polib
pyinotify
simplejson
mock
Sphinx==1.8.5;python_version<="2.7"
Sphinx>=1.8.5;python_version>="3.0"
git+https://github.com/alikins/pyqver.git#egg=pyqver
git+https://github.com/awood/nose-xvfb.git#egg=nose-xvfb
