# Fixed section header (do not change):
[D-BUS Service]
Name=com.redhat.Subscriptions1.RegisterService
Exec=/usr/bin/python /etc/dbus-1/subman.d/register_service.py
