# note there are also rpm packaged deps that aren't
# setup in pypi or with setup.py
decorator
six
# The version of iniparse in PyPi does not run under Python3.  Fedora has
# patched it so we have to rely on the RPM.
# iniparse
python-dateutil==1.5;python_version<="2.7"
python-dateutil>=2.0;python_version>="3.0"
