
[Desktop Entry]
Encoding=UTF-8
Name=Red Hat Subscription Compliance Applet
GenericName=Subscription Compliance Applet
Comment=Subscription Compliance Applet
Icon=subsmgr
Exec=rhsm-compliance-icon
Terminal=false
Type=Application
Categories=
