[Unit]
Description=Enable periodic update of entitlement certificates.
After=network.target

[Service]
Type=forking
ExecStart=/usr/bin/rhsmcertd 

[Install]
WantedBy=multi-user.target
