[Desktop Entry]
Name=Red Hat Subscription Manager
GenericName=Subscription Manager
Comment=Subscription Manager
Icon=subsmgr
Exec=subscription-manager-gui
Terminal=false
Type=Application
Categories=System;Settings;X-Red-Hat-Base;
