[Desktop Entry]
Encoding=UTF-8
Name=Red Hat Subscription Manager
GenericName=Subscription Manager
Comment=Subscription Manager
Icon=subscription-manager
Exec=subscription-manager-gui
Terminal=false
Type=Application
Categories=System;Settings;X-Red-Hat-Base;
