[D-BUS Service]
Name=com.redhat.Subscriptions1.Facts.User
Exec=/usr/libexec/rhsm-facts-user-service
# TODO/FIXME: stop running as root, run as rhsm
#User=root
User=rhsm
SystemdService=rhsm-facts-user.service
