[Unit]
Description=RHSM system user Facts dbus service
After=syslog.target network.target

[Service]
Type=dbus
BusName=com.redhat.Subscriptions1.Facts.User
ExecStart=/usr/libexec/rhsm-facts-user-service
User=rhsm

[Install]
WantedBy=basic.target
