[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
build_ext = { path = "../build_ext", editable = true }
nose-randomly = "*"
nose-capturestderr = "*"
nose = "*"
mock = "*"
coverage = "*"

[packages]
six = "*"

[requires]
python_version = "3.7"
