name: pytest

on:
  pull_request:
  workflow_dispatch:

jobs:
  pytest:
    name: "pytest"

    permissions:
      issues: write
      pull-requests: write

    strategy:
      fail-fast: false
      matrix:
        include:
          - name: "CentOS Stream 8"
            image: "quay.io/centos/centos:stream8"

    runs-on: ubuntu-latest
    container:
      image: ${{ matrix.image }}
      volumes:
        - /tmp:/tmp

    steps:
      - name: "Checkout repository"
        uses: actions/checkout@v6

      - name: "Use CentOS Vault"
        run: |
          sed -i 's|#baseurl=http://mirror|baseurl=http://vault|' /etc/yum.repos.d/CentOS-Stream-*.repo

      - name: "Run container-pre-test.sh"
        run: |
          bash scripts/container-pre-test.sh

      - name: "Run pytest"
        env:
          SUBMAN_TEST_IN_CONTAINER: "1"
          PYTEST_ADDOPTS:
            "--color=yes --code-highlight=yes --showlocals
            --cov 'src/' --cov-report 'term:skip-covered'
            --cov-report 'xml:/tmp/coverage.xml' --junitxml '/tmp/pytest.xml'"
        run: |
          dbus-run-session \
            python3 -m pytest

      - name: "Publish coverage"
        uses: MishaKav/pytest-coverage-comment@main
        if: |
          github.event.pull_request.head.repo.full_name == github.repository
        with:
          title: "Coverage"
          report-only-changed-files: true
          pytest-xml-coverage-path: /tmp/coverage.xml
          junitxml-path: /tmp/pytest.xml
