name: tito

on:
  pull_request:
  workflow_dispatch:

jobs:
  tito:
    name: "tito"

    strategy:
      fail-fast: false
      matrix:
        include:
          - name: "CentOS Stream 10"
            image: "quay.io/centos/centos:stream10"
            packager: "dnf4"

    runs-on: ubuntu-latest
    container:
      image: ${{ matrix.image }}

    steps:
      - name: Install core packages
        run: |
          dnf --setopt install_weak_deps=False install -y \
            git-core dnf-plugins-core rpm-build sudo

      - name: Enable CRB repository
        if: ${{ matrix.name == 'CentOS Stream 10' }}
        run: |
          dnf config-manager --enable crb

      - name: Checkout repository
        uses: actions/checkout@v5

      # This step is required so Tito can properly read git history
      # See https://github.com/actions/checkout/issues/766
      - name: Trust git repository path
        run: |
          git config --global --add safe.directory '*'

      - name: "Install builddep subcommand"
        run: |
          dnf --setopt install_weak_deps=False install -y "dnf5-command(builddep)"
        if: matrix.packager == 'dnf5'

      - name: Install packages
        run: |
          dnf --setopt install_weak_deps=False builddep -y \
            -D '%global python3_pkgversion 3' \
            subscription-manager.spec

      - name: Install tito (using pip)
        if: ${{ startsWith(matrix.name, 'CentOS') }}
        run: |
          dnf --setopt install_weak_deps=False install -y \
            python3-pip python3-setuptools
          pip install https://github.com/rpm-software-management/tito/archive/refs/tags/tito-0.6.22-1.tar.gz

      - name: Build the package
        run: |
          tito build --output=tito/ --test --rpm

      - name: Upload RPMs
        uses: actions/upload-artifact@v5
        with:
          name: RPMs from tito (${{ matrix.name }})
          path: tito/
          retention-days: 7
